<mat-card-content class="block-fields">
  @for (module of modules; track module.name) {
    <div class="half-width">
      <mat-slide-toggle
        [ngModel]="module.enabled"
        (ngModelChange)="module.enabled = $event"
        [class.locked]="module.name === 'userAdministration'"
        [matTooltip]="module.name === 'userAdministration' ? 'Das Modul Basis ist immer mit dem Paket' : ''"
        matTooltipPosition="below">
        <div class="hexagon-small {{ module.name }}">
          <div class="hex-icon-div-small">
            <mat-icon class="hexIcon" fontSet="material-symbols-outlined">
              {{ module.name | roleIcon }}
            </mat-icon>
          </div>
        </div>
        {{ module.label }}
      </mat-slide-toggle>
    </div>
  }
</mat-card-content>
